body {
    font-family: 'montserrat', sans-serif;
    background-color: lightgray
}

h2, p, .readme-wrapper {
    text-align-last: center;
}

a {
    text-decoration: none;
    color: forestgreen
}

.boxes {
    display: block;
    margin: auto;
    padding: 1rem;
    border: 5px solid purple;
    border-radius: 1rem;
    width: 20%;
}

a:hover {
    color: aqua;
    font-weight: bold;
    cursor: pointer;
}

span {
    font-weight: 600;
    color: orangered;
}

#box1 {
    background-color: aquamarine;
}

#box2 {
    background-color: rgba(189, 162, 13, 0.425);
}

#box3 {
    background-color: rgba(238, 141, 238, 0.699);
}

#box4 {
    background-color: floralwhite;
}

#container {
    position: relative;
}

.img {
    width: 1rem;
    height: 1rem;
    background-color: sandybrown;
}

h1 {
    color: aqua;
}

.tv {
    color: green;
}

.tv2 {
    color: blue;
}

#show1 {
    color: coral;
}

#show2 {
    color: darkmagenta;
}

#show3 {
    color: aqua;
}

#show4 {
    color: crimson;
}

#show5 {
    color: green;
}

ul {
    color: blueviolet;
}

.friends {
    color: darkolivegreen;
}

.travel {
    color: darkcyan;
}

.food {
    color: darkmagenta;
}

.list {
    border: solid 2px black;
}