body {
    font-family: 'montserrat', sans-serif;
    background-color: lightgray
}

h2, p, .readme-wrapper {
    text-align-last: center;
}

a {
    text-decoration: none;
    color: forestgreen
}

.boxes {
    display: block;
    margin: auto;
    padding: 1rem;
    border: 5px solid purple;
    border-radius: 1rem;
    width: 20%;
}

a:hover {
    color: aqua;
    font-weight: bold;
    cursor: pointer;
}

span {
    font-weight: 600;
    color: orangered;
}

#box1 {
    background-color: aquamarine;
}

#box2 {
    background-color: rgba(189, 162, 13, 0.425);
    position: absolute;
    left: 61%;
    top: 0%;
}

#box3 {
    background-color: rgba(238, 141, 238, 0.699);
}

#box4 {
    background-color: floralwhite;
}

#container {
    position: relative;
}


