body {
    font-family: 'montserrat', sans-serif;
    background-color: lightgray
}

h2, p, .readme-wrapper {
    text-align-last: center;
}

a {
    text-decoration: none;
    color: forestgreen
}

.boxes {
    display: inline-block;
    margin: auto;
    padding: 1rem;
    border: 5px solid purple;
    border-radius: 1rem;
}

a:hover {
    color: aqua;
    font-weight: bold;
    cursor: pointer;
}